@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{padding: 0; margin: 0; box-sizing: border-box;}
ul{padding: 0; margin: 0; list-style: none;}
h1,h2,h3,h4,h5,h6{padding: 0; margin: 0;}
p{padding: 0; margin: 0;}
a{text-decoration: none!important;}
body{font-family: 'Roboto', sans-serif;}

.bgimg {position: relative;}
.header-content {padding: 20px; position: fixed;top: 0; width: 100%;background-color: #030e56;z-index: 999;}
.container{max-width: 1498px;}
.logo{float: left;}
.header-menu ul{display: inline-flex;}
.header-menu ul li{padding-right: 20px;}
.header-menu ul li a{color: white;}
.toggle-content{display: flex;align-items: center;justify-content: space-between;}
.toggle-menu-side{display: flex;align-items: center;}
.host a{color: white;}
.host{margin-right: 20px;}
.toggle-profile{background-color: white;border: 1px solid #A1A1A1;border-radius: 35px;padding: 5px 10px;}
.toggle-profile i{margin: 0px 5px;}
.floating-searchbar .container{max-width: 1500px; width: 100%;}
.floating-searchbox-content{width: 100%; background-color: white;padding: 15px 30px; border-radius: 46px;position: absolute; top: 25%;}

.border-right{border-right: 1px solid #AAAAAA;}
.search-button{background: #5A74FF; border-radius: 65px;padding: 9px 14px; color: #FFFFFF;}
.flexible{display: inline-block; background: #FFFFFF;box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.14);border-radius: 68px;font-style: normal;font-weight: 700;font-size: 18px;line-height: 21px;color: #B31690;padding: 19px 51px;}
.banner-content h5{font-style: normal;font-weight: 700;font-size: 18px;line-height: 21px;color: black;padding-bottom: 14px;}
.banner-content{position: absolute; top: 474px;left: 711px; }
.header-content .container{max-width: 1500px;}
/* start media query from here :- Header */
@media only screen and (max-width:1199px) {
    .header-menu{display: none;}
    .host{display: none;}    
    .toggle-content{justify-content: end !important;}
    .banner-content{display: none;}
    
}
/* section 2 */



/* section 3  */
.section3-heading h2{text-align: start; max-width: 225px; font-family: 'Roboto';font-style: normal;font-weight: 700;font-size: 30px;line-height: 35px;color: #000000;}
.section3-heading p{text-align:start ; padding-bottom: 35px; max-width: 668px;font-family: 'Roboto';font-style: normal;font-weight: 500; font-size: 18px; line-height: 21px; color: #575757;}
.section3-btn{padding: 10px;background: #FFFFFF; border: 1px solid #000000;gap: 10px; border-radius: 4px;display: inline-block;}
.section3{padding: 97px 0 41px 0;}  

/* modal css */

.modal-content{padding: 20px; border-radius: 15px;}
.popup{ max-width: 800px;width: 100%;justify-content: center;}
.countryregion{padding-bottom: 0%;}
.countryregion form{border: 1px solid gray; border-radius: 5px;}
.country label{font-size: 15px;}
.country select{border: none;}
.phonenumber{padding-top: 0%;}
.phonenumber p{font-size: 12px;}
.mainnumber .privacy{color: #000000; text-decoration: underline !important; font-weight: bold;}
.phonesection{border: 1px solid gray;border-radius: 5px;}
.phonesection input{border: none;padding:10px;}
.or{text-align: center;display: flex;align-items: center;margin: 20px 0;font-size: 12px;}
.or::before{content: ""!important;display: block !important; width: 100% !important;height: 1px !important;background-color: rgb(221, 221, 221) !important;margin-right: 15px;}
.or::after{content: ""!important;display: block !important; width: 100% !important;height: 1px !important;background-color: rgb(221, 221, 221) !important;margin-left: 15px;}
.social-box{width: 100%;padding: 10px 20px;border: 1px solid gray;border-radius: 10px;margin-bottom: 20px;}
.social-box i{margin-right: 100px;font-size: 20px;}
.social-box a{font-size: 16px;color: #000000;}

.lable {
    position: absolute;
    padding-left: 5px;
    font-size: 12px;
}
#message{color: red !important;}
svg.PhoneInputCountryIconImg {display: none;}
img.PhoneInputCountryIconImg {display: none;}
select.PhoneInputCountrySelect {max-width: 500px;width: 100%;padding: 20px;border-radius: 5px;}
input.PhoneInputInput {max-width: 500px;width: 100%;padding: 10px;border: 1.5px solid grey; border-radius: 5px;}
.signbtn{margin-top: 20px;}
.closebtn{margin-top: 20px;}
.user{margin-top: 10px;}
.full{margin-top: 10px;}
.email{margin-top: 10px;}
.birth{margin-top: 10px;}
.phone{margin-top: 10px;}
.password{margin-top: 10px;}