*{margin: 0%;padding: 0%;}
.section1 img{margin-left: 14px;}
.section2{margin: 0;padding: 0;margin-top: -47px;}
.section2 img{margin-left: 14px;margin-top: 10px;height: 496px;}
.section3 {padding-top: 4px;}
.section3 img{margin-left: 14px;margin-top: 10px;}
/* .section4 {padding: 0%;} */
.section4 img{margin-left: 14px;margin-top: -28px;height: 496px;}